<a href="https://colab.research.google.com/github/Shirshchauhan/proects/blob/main/data_science_minor_project_shirsh_chauhan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

np.__version__

'1.21.6'

In [2]:
import pandas as pd
pd.__version__

'1.3.5'

In [ ]:
import matplotlib
matplotlib.__version__

'3.2.2'

In [ ]:
import missingno as mn

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
global str
str = str

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/ameer-aiml/ai-vodafone/main/datasets/car_data.csv")
df

    Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0       ritz  2014           3.35  ...       Dealer        Manual     0
1        sx4  2013           4.75  ...       Dealer        Manual     0
2       ciaz  2017           7.25  ...       Dealer        Manual     0
3    wagon r  2011           2.85  ...       Dealer        Manual     0
4      swift  2014           4.60  ...       Dealer        Manual     0
..       ...   ...            ...  ...          ...           ...   ...
296     city  2016           9.50  ...       Dealer        Manual     0
297     brio  2015           4.00  ...       Dealer        Manual     0
298     city  2009           3.35  ...       Dealer        Manual     0
299     city  2017          11.50  ...       Dealer        Manual     0
300     brio  2016           5.30  ...       Dealer        Manual     0

[301 rows x 9 columns]

#1. From which manufacturing year to which manufacturing year  vehicles are present in this data ?

In [ ]:
print('Vehicles are present from',df['Year'].min(), 'to', df['Year'].max(), 'Year.')

Vehicles are present from 2003 to 2018 Year.


### 2. What is the lowest price to which a vehicle is  sold ?

In [ ]:
m = df['Selling_Price'].min()
df[df['Selling_Price']==m]

             Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
200  Bajaj Pulsar 150  2006            0.1  ...   Individual        Manual     0

[1 rows x 9 columns]

### 3. What is the highest price to which a vehicle is sold ?

In [ ]:
n = df['Selling_Price'].max()
df[df['Selling_Price']==n]

        Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
86  land cruiser  2010           35.0  ...       Dealer        Manual     0

[1 rows x 9 columns]

### 4. How many records are there?

In [ ]:
len(df.index)
df.shape[0]

301

### 5. Are there any missing records in this data ?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [ ]:
df.isnull().sum()
null_data = df[df.isnull().any(axis=1)]
null_data
print('There are', len(null_data), 'rows which have missing data')

There are 0 rows which have missing data

### 6.How many different vehicles are present in this data ?

In [ ]:
df['Car_Name'].value_counts()

city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: Car_Name, Length: 98, dtype: int64

### 8.Does the database include any CNG vehicle ? If yes how many of them are there

In [ ]:
df['Fuel_Type'].value_counts()

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64

### 9. How many vehicles here are for sell from Individuals directly?

In [ ]:
df['Seller_Type'].value_counts()

Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

### 10. Does this database contain auto transmission vehicles ? If
yes how many of them are there ?

In [ ]:
df['Transmission'].value_counts()

Manual       261
Automatic     40
Name: Transmission, dtype: int64

### 11. How many single person owned vehicles are there in this
database ?

In [ ]:
df['Owner'].value_counts()

0    290
1     10
3      1
Name: Owner, dtype: int64

### 12. Which is the most and least cost depreciated vehicle in data
?

In [ ]:
df['depreciated value']= df['Present_Price']-df['Selling_Price']

In [ ]:
leastDep = df['depreciated value'].min()
df[df['depreciated value']==leastDep]

            Car_Name  Year  ...  Owner  depreciated value
155  Honda Activa 4G  2017  ...      0               0.03

[1 rows x 10 columns]

In [ ]:
mostDep = df['depreciated value'].max()
df[df['depreciated value']==mostDep]

        Car_Name  Year  Selling_Price  ...  Transmission  Owner depreciated value
86  land cruiser  2010           35.0  ...        Manual      0              57.6

[1 rows x 10 columns]

### 13. Which brands of vehicles are less affected by cost depreciation

In [ ]:
list_dep = (df.groupby(by=['Car_Name'])['depreciated value'].mean())
list_dep

Car_Name
800                  1.930000
Activa 3g            0.220000
Activa 4g            0.110000
Bajaj  ct 100        0.140000
Bajaj Avenger 150    0.050000
                       ...
sx4                  4.908333
verna                3.292143
vitara brezza        0.580000
wagon r              1.937500
xcent                2.163333
Name: depreciated value, Length: 98, dtype: float64

In [ ]:
list_dep.to_frame()
leastDepCar = df['depreciated value'].min()
df[df['depreciated value']==leastDepCar]

            Car_Name  Year  ...  Owner  depreciated value
155  Honda Activa 4G  2017  ...      0               0.03

[1 rows x 10 columns]

### 14. Can we get idea about newest vehicles i.e. after 2014
manufactured ?

In [ ]:
newestDf = df.loc[(df['Year'] > 2014)]

In [ ]:
newestDf.sort_values(by=['Year'], ascending=False)

                      Car_Name  Year  ...  Owner  depreciated value
5                vitara brezza  2018  ...      0               0.58
2                         ciaz  2017  ...      0               2.60
109  Royal Enfield Classic 350  2017  ...      0               0.27
173                  Activa 4g  2017  ...      0               0.11
235                      verna  2017  ...      0               0.30
..                         ...   ...  ...    ...                ...
135           Bajaj Pulsar 150  2015  ...      0               0.09
61                 etios cross  2015  ...      0               3.20
237                      creta  2015  ...      0               2.35
241                      xcent  2015  ...      1               2.38
63                    fortuner  2015  ...      0              12.46

[147 rows x 10 columns]

### 15. Can we find out data of only two wheelers from this data ?

In [ ]:
print('No,we can find out data of two wheelers as well as four wheelers from this data.')

No,we can find out data of two wheelers as well as four wheelers from this data.