<a href="https://colab.research.google.com/github/Shirshchauhan/project/blob/main/Introduction_to_SQL_sub_queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Introduction to SQL Sub-Queries

This notebook explore the basics of the use of sub-queries with SQL

Write a query to display the customer's first name, city and venue id of all the customers who live in the same city and enquired about the same venue.

(Hint:  Retrieve records from the Customer_Master and  Enquiry_Master.)

Sample Records:

C_first_name

City

Venue id

Angela

Bangalore

V03

Amelia

Bangalore

V03

Carolin

Chennai

V01

Jamie

Chennai

V01


Sample Output:

C_first_name

C_first_name

City

Venue id

Carolin

Jamie

Chennai

V01

Jamie

Carolin

Chennai

V01

Angela

Amelia

Bangalore

V03

Amelia

Angela

Bangalore

V03

In [ ]:
select
CM1.C_first_name as c_first_name,
CN2.C_first_name as c_first_name,
CM1.city,
EM1.venue_id

from
Customer_Master CM1

join
Enquiry_Master EM1
ON
CM1.Cust_id = EM1.Cust_id

join
Customer_Master CM2
ON
CM1.City = CM2.City
and
CM1.Cust_id != CM2.Cust_id

join
Enquiry_Master EM2
ON
CM2.Cust_id = EM2.Cust_id
AND
EM1.Venue_id = EM2.Venue_id

WHERE
CM1.City = CM2.City
AND
EM1.Venue_id = EM2.Venue_id;

SyntaxError: invalid syntax (<ipython-input-2-9a0a0c737a05>, line 2)